
@import "../../assets/scss/fonts";

.champion {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.headerFont {
    font-family: $primaryfont;
    color: $primaryfontcolor;
};

.svg-wrapper {
    height: 60px;
      margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: contain;
  }

  .shape {
    fill: black;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 10px;
    stroke: $primaryfontcolor  }
  
  .text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  
.winner {
    font-size: 60px;
    font-family: $primaryfont;
    color: $primaryfontcolor;

}


.animation {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  text-align: center;
  border: none;
}

@keyframes stretch {
  0%{
    top: 0; left: 0;
    background-color: rgb(44, 63, 0);
    width: 30%;
    border-radius: 10%; 
  }
  20% {
    background-color:rgb(201, 114, 22);
  }

  30% {
    background-color:rgb(201, 171, 22);
  }
  100%{
    background-color: $primaryfontcolor;
    width:70%;
    border-radius: 20%;
  }
}