


.grid_4_player {
    display: grid;
    grid-template-columns: 25% 12.5% 25% 12.5% 25%;
	grid-template-rows: repeat(7, 1fr);
}

.round_1 {
  grid-column-start: 1;
  grid-column-end: 2;

}

.round_2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  