$icon-width: 50px;
$icon-height: 50px;

.socials {
	text-align: center;

 	img {
		width: $icon-width;
		height: $icon-height;
		display: inline-block;
		background-color:#fff0e9;
		border-radius: 35%;
		padding: 7px;
		margin: 10px;
		box-sizing: border-box;
		
	}
}