.addButton {
    width: 100px;
    transition: background 1s;
    background: #FCA311;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    font-family:'Roboto Mono', monospace;
}

.addButton:hover{
    transform: rotate(360deg);
    background: green;
}